body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E6D5B8;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 70px;
    background-color: #4B2E2B;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 150px;
}

.logo img {
    height: clamp(50px, 8vw, 80px);
    ;
    margin-right: 10px;
    margin-left: 20px;
}

.menu.is_active {
    display: block;
}


#hamburguesa {
    display: none;
    color: #E6D5B8;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 118px;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
    margin-right: 3rem;
    text-align: center;
}

nav a {
    font-weight: 600;
    font-size: clamp(14px, 2vw, 22px);
}

nav a:hover {
    color: #dbbd88;
}

.usuario {
    display: flex;
    align-items: center;
    min-width: 100px;
}

.usuario i {
    font-size: clamp(20px, 2.5vw, 30px);
    display: flex;
    align-items: center;
    color: #E6D5B8;
    margin-right: 30px;
}

.usuario i:hover {
    color: #dbbd88;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* CIERRA HEADER */

/* PANTALLA PRINCIPAL */
#contenidocarrusel {
    height: 400px;
    overflow: hidden;

}


.itemcarrusel {
    border: 1px solid black;
    height: 100%;
    position: relative;
}


.tarjetacarrusel {

    height: 100%;
}

.flechascarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


i {
    color: black;
    font-size: 40px;
}

i:hover {
    color: #998e7b;
}

#tarjetacarrusel-1 img {
    width: 100%;
    height: 100%;
}

#tarjetacarrusel-2 img {
    width: 100%;
    height: 108%;
}


#tarjetacarrusel-3 img {
    width: 100%;
    height: 100%;
}

.contenido-superpuesto {
    position: absolute;
    top: 40%;
    right: 9%;
    /* Alinea el contenido hacia la derecha */
    text-align: center;
    /* Alinea el texto a la derecha */
    color: #4B2E2B;
    background: rgba(230, 213, 184, 0.5);
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Controla el ancho del contenido */
}


.boton1 a {
    position: absolute;
    top: 67%;
    right: 23%;
    /* Alinea el contenido hacia la derecha */
    text-align: center;
    /* Alinea el texto a la derecha */
    color: #F5F5F5;
    background: #331E1C;
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Controla el ancho del contenido */
    z-index: 10;

}

.boton1 a:hover {
    background: #503330;
    /* Cambia el fondo */
}

.contenido-superpuesto-2 {
    position: absolute;
    top: 40%;
    right: 50%;
    /* Alinea el contenido hacia la derecha */
    text-align: center;
    /* Alinea el texto a la derecha */
    color: #D9C4A0;
    background: rgb(76, 136, 186, 0.5);
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Controla el ancho del contenido */
}

.boton2 a {
    position: absolute;
    top: 65%;
    left: 25%;
    /* Alinea el contenido hacia la derecha */
    text-align: center;
    /* Alinea el texto a la derecha */
    color: #331E1C;
    background: #C0B093;
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Controla el ancho del contenido */
    z-index: 10;
}

.boton2 a:hover {
    background: #A09078;
    /* Cambia el fondo */
}

.contenido-superpuesto-3 {
    position: absolute;
    top: 40%;
    left: 33%;
    /* Centra horizontalmente */
    text-align: center;
    color: #331E1C;
    background: rgb(217, 196, 160, 0.5);
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Controla el ancho del contenido */
}

.boton3 a {
    position: absolute;
    top: 60%;
    left: 45%;
    /* Alinea el contenido hacia la derecha */
    text-align: center;
    /* Alinea el texto a la derecha */
    color: #FFFFFF;
    background: #331E1C;
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    /* Ancho del contenido */
    z-index: 10;
}

.boton3 a:hover {
    background: #503330;
    /* Cambia el fondo */
}

/*CARRUSEL*/
    #txt_tituloc{
        font-family: "Poppins", sans-serif;
        margin-top:50px;
        margin-left:100px;
        font-size: 20px;
    }
    #carrusel2 {
        margin-top: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60vh;
        color: #331E1C;
    }
    #container_carrusel2 {
        width: 89vw;
        max-width: 2200px;
        overflow: hidden;
        position: relative;
    }
    
    #slider_container2 {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    
    #slider2 {
        display: flex;
        transition: transform 0.5s ease-in-out;
        width: max-content;
        gap:20px;
    
    }
    
    #slider2 img {
        width: 100%; 
        max-width: 400px; 
        height: auto; 
        object-fit: cover; 
        border-radius: 20px;
    }
    
    /* Botones de navegaci칩n */
    .btn_carrusel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 20px;
        cursor: pointer;
        z-index: 10;
    }
    .btn_carrusel:first-of-type {
        left: 10px;
    }
    .btn_carrusel:last-of-type {
        right: 10px;
    }
    @media only screen and (min-width: 1100px){
        #slider_container2 #slider2 .slider2{
            width: calc(2.5% - 20px);
        }
    }
    @media only screen and (max-width: 1100px){
        #slider_container2 #slider2 .slider2{
            width: calc(3.3333333% - 20px);
        }
    }
    @media only screen and (max-width: 900px){
        #slider_container2 #slider2 .slider2{
            width: calc(5% - 20px);
        }
    }
    @media only screen and (max-width: 550px){
        #slider_container2 #slider2 .slider2{
            width: calc(10% - 20px);
        }
    }

/*Beneficios*/
.Titulos {
    color:#331E1C;
    font-family:Cambria ;
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
}
#img_beneficios1 {
    width: 1920px; 
    height: 350px; 
    overflow: hidden; 
    display:flex;
    align-items: center;
}
#cont1_b {
    width: 1920px;
    height: auto;
    background-color:#4B2E2B ;
    color:#FFFFFF ;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 1;
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
}

#cont2_b {
    display: flex;
    align-items: center;
    width: 90vw; 
    max-width: 1400px;
    margin: auto;
    gap: 20px; 
    padding: 40px;
    flex-wrap: wrap; 
    justify-content: center;
}
#text_b2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    gap: 30px;
}
.txt_info{
    width: 700px;
    height: auto;
    line-height: 1.5;
}

#img_b2 {
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    object-fit: cover;
}

.caja_beneficios {
    background-color: #4B2E2B;
    color: #ffffff;
    padding: 8px 15px;
    font-weight: 300;
    align-self: flex-start; 
}
#cont3_b{
    display: flex;
    align-items: center;
    width: 90vw; 
    max-width: 1400px;
    margin: auto;
    gap: 20px; 
    padding: 40px;
    flex-wrap: wrap; 
    justify-content: center;
}
#aviso_b {
    background-color: #D9D9D9;
    color:#4B2E2B;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}
.text_b3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;

}
.txt_info2 {
    font-size: 18px;
}

/*Login*/
.Cont_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('img_beneficios/fondologin.png');
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
}
.login {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #4B2E2B;
    border-radius: 10px;
    padding: 100px 60px;
}
.login h1 {
    font-size:36px;
    text-align: center;
}
.login .caja_login {
    width: 100%;
    height: 50px;
    background:#ffffff ;
    margin:30px 0px;
}
.caja_login input {
    width: 100%;
    height: 100%;
    background:transparent ;
    border: 2px solid #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    color:#000;
    padding: 20px 45px 20px 20px;
}
.login .recordar_usario {
    display:flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin:-15px 0 15px;
}
.recordar_usario label input {
    accent-color: #4B2E2B;
    margin-right: 3px;
}
.recordar_usario a{
    color:#4B2E2B;
}
.recordar_usario a:hover{
    text-decoration: underline;
}
.login .btn_login{
    width: 100%;
    height: 60px;
    background: #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border:none;
    cursor:pointer;
    font-size: 16px;
    color:#ffffff;
    font-weight: 600;
}
.login .link_registro {
    font-size: 14.5px;
    text-align: center;
    margin-top: 25px ;
}
.link_registro p a {
    color:#4B2E2B;
    text-decoration: none;
    font-weight: 600;
}
.link_registro p a:hover {
text-decoration: underline;
}


/*Registro*/
.Cont_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('img_beneficios/fondologin.png');
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
}
.registro {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #4B2E2B;
    border-radius: 10px;
    padding: 80px 60px;
}
.registro h1 {
    font-size:36px;
    text-align: center;
}
.registro .caja_registro {
    width: 100%;
    height: 30px;
    background:#ffffff ;
    margin:30px 0px;
}

.caja_registro input {
    width: 100%;
    height: 100%;
    background:transparent ;
    border: 2px solid #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    color:#000;
    padding: 20px 45px 20px 20px;
}

.registro .btn_registro{
    width: 100%;
    height: 60px;
    background: #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border:none;
    cursor:pointer;
    font-size: 16px;
    color:#ffffff;
    font-weight: 600;
}
.mante_sesion label input {
    accent-color: #4B2E2B;
    margin: 10px;
}
.mante_sesion a{
    color:#4B2E2B;
}
.mante_sesion a:hover{
    text-decoration: underline;
}

/* HTML DEL MAPA*/

#map {
    width: 80%;
    height: 773px;
    border-radius: 10px;
    margin: 20px auto;
    position: relative;
}

/* Contenedor */
.icono-cafeteria {
    position: absolute;
}

.icono-cafeteria .marcador {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* div tambien circular */
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /*Animacion*/
    z-index: 10;
    /* Posicion en Z */
}

/* Capa oscura encima de la imagen OVERLAY */
.icono-cafeteria .marcador .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    /* 65% de opacidad */
    border-radius: 50%;
    z-index: 3;
    /* z=3 */
}

.icono-cafeteria .marcador img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Imagen circular */
    object-fit: cover;
    /* Evita deformaciones? */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    /* Efecto de sombra */
}

.marcador img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    /* Mantiene la imagen cuadrada */
    border-radius: 50%;
    /* Hace que sea un circulo */
    object-fit: cover;
    /* Ajusta la imagen para que no se deforme */

}

/* Texto encima de la imagen */
.texto-cafeteria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centrado el texto */
    color: white;
    font-size: 6px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    z-index: 4;
    /* Z=4 encima de la capa oscura */
    max-width: 80%;
    /* Ajusta el texto al c칤rculo */
    word-wrap: break-word;
    /* Hace que el texto salte de l칤nea */
    white-space: normal;
    /* Evita que el texto se quede en una sola l칤nea */
    display: flex;

    justify-content: center;
    flex-direction: column;

    transition: font-size 0.3s ease-in-out; /* Efecto de agrandado del texto */
    }

    /* 游댳 Efecto al pasar el mouse (hover) */
    .icono-cafeteria .marcador:hover {
    transform: scale(1.3); /* Hace que el marcador crezca un 30% */
    z-index: 10000; /* Circulo encima del resto? REVISAR */
    }

    .icono-cafeteria .marcador:hover img {
    transform: scale(1.1); /* se agranda la imagen */
    }

    .icono-cafeteria .marcador:hover .texto-cafeteria {
    font-size: 10.3px; /* Aumenta el tama침o del texto para que sea m치s visible */
    max-width: 90%; /* que el texto siga dentro del circulo */
    }
=======
    transition: font-size 0.3s ease-in-out;
    /* Efecto de agrandado del texto */
}

/* 游댳 Efecto al pasar el mouse (hover) */
.icono-cafeteria .marcador:hover {
    transform: scale(1.3);
    /* Hace que el marcador crezca un 30% */
    z-index: 10000;
    /* Circulo encima del resto? REVISAR */
}

.icono-cafeteria .marcador:hover img {
    transform: scale(1.1);
    /* se agranda la imagen */
}

.icono-cafeteria .marcador:hover .texto-cafeteria {
    font-size: 10.3px;
    /* Aumenta el tama침o del texto para que sea m치s visible */
    max-width: 90%;
    /* que el texto siga dentro del circulo */
}



