body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E6D5B8;
}

/* HEADER */

header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 140px;
    min-height: 70px;
    background-color: #4B2E2B;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    display: flex;
    align-items: center;
    min-width: 150px;
}

.logo img {
    height: clamp(50px, 8vw, 80px);
    ;
    margin-right: 10px;
    margin-left: 20px;
}

.menu.is_active {
    display: block;
}


#hamburguesa {
    display: none;
    cursor: pointer;
    color: #E6D5B8;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    gap: 118px;
}

nav ul {
    display: inline-flex;
}

nav ul li {
    list-style: none;
    margin-right: 3rem;
    text-align: center;
}

nav a {
    font-weight: 600;
    font-size: clamp(14px, 2vw, 22px);
}

nav a:hover {
    color: #dbbd88;
}

.usuario {
    display: flex;
    align-items: center;
    min-width: 100px;
}

.usuario i {
    font-size: clamp(20px, 2.5vw, 30px);
    display: flex;
    align-items: center;
    color: #E6D5B8;
    margin-right: 30px;
}

.usuario i:hover {
    color: #dbbd88;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* CIERRA HEADER */


/* AVISO COOKIES*/

.aviso-cookies {
    display: none;
    background-color: #E6D5B8;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: none;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px rgba(222, 222, 222, 25);
    text-align: center;
}

.aviso-cookies.activo {
    display: block;
}

.aviso-cookies .galleta {
    max-width: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.aviso-cookies .titulo {
    margin-bottom: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5vw;
      color: #4B2E2B; 
}

.aviso-cookies .parrafo {
    margin-bottom: 15px;
     font-family: 'Poppins', sans-serif;
    color: #4B2E2B !important;
}


.aviso-cookies .boton {
    width: 20vh;
    background: #4B2E2B;
    border: none;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;

}

.aviso-cookies .botonRechazar {
    width: 20vh;
    background: #4B2E2B;
    border: none;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;

}


.aviso-cookies .boton:hover {
    background: #312221;
}



.aviso-cookies .botonRechazar:hover {
    background: #312221;
}
.aviso-cookies .enlace {
    color: #4DBFFF;
    text-decoration: none;
    font-size: 19px;
    display: block;
}


.aviso-cookies .enlace:hover {
    text-decoration: underline;
}

.fondo-aviso-cookies {
    display: none;
    background: rgba(0, 0, 0, .60);
    position: fixed;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.fondo-aviso-cookies.activo {
    display: block;
}

/* CIERRE AVISO COOKIES */


/* PANTALLA PRINCIPAL */
#contenidocarrusel {
    height: 600px;
    overflow: hidden;

}


.itemcarrusel {
    border: 1px solid black;
    height: 100%;
    position: relative;
}


.tarjetacarrusel {

    height: 100%;
}

.flechascarrusel {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


i {
    color: black;
    font-size: 40px;
}

i:hover {
    color: #998e7b;
}

#tarjetacarrusel-1 img {
    width: 100%;
    height: 100%;
}

#tarjetacarrusel-2 img {
    width: 100%;
    height: 108%;
}


#tarjetacarrusel-3 img {
    width: 100%;
    height: 100%;
}



.contenido-superpuesto {
    position: absolute;
    top: 30vh;
    right: 9vw;
    text-align: center;
    color: #4B2E2B;
    background: rgba(230, 213, 184, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    z-index: 10;
    display: flex;
    /* 👉 convierte en contenedor flex */
    flex-direction: column;
    /* 👉 apila verticalmente */
    align-items: center;
    /* 👉 centra horizontalmente */
    gap: 15px;
}

.titulounoprimercarrusel {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: #331E1C;
    text-align: center;
    margin-top: 2vh;
}

.titulodosprimercarrusel {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: #D9C4A0;
    text-align: center;
    margin-top: 2vh;
}

.titulotresprimercarrusel {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5rem;
    color: #4B2E2B;
    text-align: center;
    margin-top: 2vh;
}

.boton1 a {
    background-color: #4B2E2B;
    color: #D9C4A0;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 30;

}

.boton1 a:hover {
    background: #503330;
    /* Cambia el fondo */
}

.contenido-superpuesto-2 {
    position: absolute;
    top: 30vh;
    right: 50vw;
    text-align: center;
    color: #D9C4A0;
    background: rgba(76, 136, 186, 0.5);
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    max-width: 40%;
    z-index: 10;
    display: flex;
    /* 👈 Activa flexbox */
    flex-direction: column;
    /* 👈 Apila texto y botón verticalmente */
    align-items: center;
    /* 👈 Centra horizontalmente */
    gap: 15px;
    /* 👈 Espacio entre elementos */

}

.boton2 a {
    background-color: #D9C4A0;
    color: #4B2E2B;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    z-index: 30;
}

.boton2 a:hover {
    background: #A09078;
    /* Cambia el fondo */
}

.contenido-superpuesto-3 {
    position: absolute;
    top: 30vh;
    right: 37vw;
    text-align: center;
    color: #331E1C;
    background: rgba(217, 196, 160, 0.5);
    /* Fondo semitransparente */
    padding: 20px;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    /* Flexbox para alinear */
    flex-direction: column;
    /* Elementos en columna */
    align-items: center;
    /* Centrado horizontal */
    gap: 15px;
    /* Espacio entre título y botón */
}

.boton3 a {
    background-color: #331E1C;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.boton3 a:hover {
    background: #503330;
    /* Cambia el fondo */
}

/*CARRUSEL*/
#txt_tituloc {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5vw;
    /* Tamaño de fuente relativo al ancho de la pantalla */
    margin-top: 5vh;
    /* Margen superior relativo a la altura del viewport */
    margin-left: 6vw;
    /* Margen izquierdo relativo al ancho del viewport */
}

#carrusel2 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#container_carrusel2 {
    width: 95vw;
    max-width: 1600px;
    overflow: hidden;
    position: relative;
}

#slider_container2 {
    position: relative;
    overflow: hidden;
}

#slider2 {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

/* Imágenes */
#slider2 img {
    border-radius: 20px;
    flex-shrink: 0;
    width: calc(100% / 4 - 15px);
    object-fit: cover;
    height: auto;
}

/* Responsive */
@media (max-width: 1100px) {
    #slider2 img {
        width: calc(100% / 3 - 13.33px);
    }
}

@media (max-width: 900px) {
    #slider2 img {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 550px) {
    #slider2 img {
        width: 100%;
    }
}

.btn_carrusel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.btn_carrusel:first-of-type {
    left: 10px;
}

.btn_carrusel:last-of-type {
    right: 10px;
}

.btn_carrusel.inactive {
    opacity: 0.3;
    pointer-events: none;
}


/* CONTENEDOR DEL CARRUSEL DESCUENTOS*/

#contenedorcarruseldescuentos {
    width: 96%;
    height: 400px;
    margin: 40px auto;
    /* Centrado horizontal */
    background-color: #E5D8C7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Para que no se salga el carrusel */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 22.3vw;
    /* Tamaño fijo para cada imagen  calc(15% - 40px)*/
    height: 350px;
    margin: 73px;
    gap: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.card .nombrePromo {
    font-size: 16px;
}

.card .precio {
    font-size: 16px;
}

.card .precio s {
    font-size: 12px;
}

#container_carrusel3 {
    width: 95vw;
    max-width: 1600px;
    overflow: hidden;
    position: relative;
}

#slider_container3 {
    position: relative;
    overflow: hidden;

}

#slider3 {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
    gap: 2px;
    width: 100%;
    height: 100%;
}

/* Imágenes */
.card img {
    flex-shrink: 0;
    width: 14vw;
    object-fit: cover;
    height: 15vw;
    border: 4px solid black;
    border-width: thick;
    border-color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    background-color: #E5D8C7;
}

/* Responsive */
@media (max-width: 1100px) {
    #slider3 img {
        width: calc(100% / 3 - 13.33px);
    }
}

@media (max-width: 900px) {
    #slider3 img {
        width: calc(100% / 2 - 10px);
    }
}

@media (max-width: 550px) {
    #slider3 img {
        width: 100%;
    }
}

.btn_carrusel3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.btn_carrusel3:first-of-type {
    left: 10px;
}

.btn_carrusel3:last-of-type {
    right: 10px;
}

.btn_carrusel3.inactive {
    opacity: 0.3;
    pointer-events: none;
}

/*Cierre CARRUSEL DESCUENTOS */


/* CONTENEDOR CIRCULOS */

#contenedorcirculos {
    display: flex;
    align-items: center;
    max-width: 96vw;
    background-color: #E5D8C7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.lineacafes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 203.2px;
    /* Espacio horizontal */
    row-gap: 70px;
    /* Espacio vertical, más pequeño */
    padding: 20px;
    max-width: 96vw;
}

.circulo {

    width: 10vw;
    /* El ancho será el 10% del ancho de la pantalla */
    height: 10vw;
    /* Mantiene la proporción para que siga siendo un círculo */
    min-width: 30px;
    min-height: 30px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.circulo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* Negro con transparencia */
    z-index: 1;
}

.circulo:hover {
    transform: scale(1.05);
}




.nombrescafeterias {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centra en ambos ejes */
    color: white;
    text-align: center;
    font-size: 1vw;
    width: 90%;
}


.infocafe {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 45vw;
    margin-left: 25vw;
    height: 50vh;
    background-color: #331E1C;
    /* Color de fondo */
    padding: 20px;
    /* Relleno para que el contenido no toque los bordes */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra ligera para darle profundidad */
    z-index: 1000;
}

.infocafe.visible {
    opacity: 1;
    visibility: visible;
}

.textocajas {
    font-family: 'Bebas Neue', sans-serif;
    color: #E6D5B8 !important;
    /* Cambia el color de la letra */
    font-size: 4vw;
    margin-left: 2vw;
    text-align: center;
}

.parrafocajas {
    font-family: 'Poppins', sans-serif;
    color: #E6D5B8 !important;
    font-size: 1vw;
    margin-left: 1vw;

}

.Imagencajatexto {

    float: left;
    margin-right: 15px;
    margin-top: 80px;
    width: 10vw;
}

#cerrar {

    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrar i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrardos {

    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrardos i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrartres {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrartres i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrarcuatro {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarcuatro i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrarcinco {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarcinco i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrarseis {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarseis i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}


#cerrarsiete {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarsiete i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrarocho {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarocho i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrarnueve {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrarnueve i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}


#cerrardiez {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrardiez i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerraronce {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerraronce i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrardoce {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}

#cerrardoce i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

#cerrartrece {
    border: none;
    background: none;
    position: absolute;
    /* Posiciona el botón en relación a su contenedor */
    top: 10px;
    left: 10px;
}


#cerrartrece i {
    font-size: 4rem;
    color: #E6D5B8;
    cursor: pointer;
}

@media only screen and (min-width: 1100px) {
    #slider_container2 #slider2 .slider2 {
        width: calc(2.5% - 20px);
    }
}

@media only screen and (max-width: 1100px) {
    #slider_container2 #slider2 .slider2 {
        width: calc(3.3333333% - 20px);
    }
}

@media only screen and (max-width: 900px) {
    #slider_container2 #slider2 .slider2 {
        width: calc(5% - 20px);
    }
}

@media only screen and (max-width: 550px) {
    #slider_container2 #slider2 .slider2 {
        width: calc(10% - 20px);
    }
}

/*Beneficios*/
.Titulos {
    color: #331E1C;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: 10px;
}

#img_beneficios1 {
    width: 1920px;
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#cont1_b {
    width: 1920px;
    height: auto;
    background-color: #4B2E2B;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    line-height: 1;
    font-weight: 300;
    font-size: 20px;
    padding: 15px;
}

#cont2_b {
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 1400px;
    margin: auto;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#text_b2 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    gap: 30px;
}

.txt_info {
    width: 700px;
    height: auto;
    line-height: 1.5;
}

#img_b2 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.caja_beneficios {
    background-color: #4B2E2B;
    width: 50vw;
    color: #ffffff;
    padding: 8px 15px;
    font-weight: 300;
    align-self: flex-start;
}

#cont3_b {
    display: flex;
    align-items: center;
    width: 90vw;
    max-width: 1400px;
    margin: auto;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

#aviso_b {
    background-color: #D9D9D9;
    color: #4B2E2B;
    padding: 30px 30px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
}

.text_b3 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;

}

.txt_info2 {
    font-size: 18px;
}

/*Login*/
.inicioocuenta {
    font-family: 'Bebas Neue', sans-serif;
}

.Cont_login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('img_beneficios/fondologin.png');
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
}

.login {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #4B2E2B;
    border-radius: 10px;
    padding: 100px 60px;
}

.login h1 {
    font-size: 36px;
    text-align: center;
}

.login .caja_login {
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 30px 0px;
}

.caja_login input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.login .recordar_usario {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recordar_usario label input {
    accent-color: #4B2E2B;
    margin-right: 3px;
}

.recordar_usario a {
    color: #4B2E2B;
}

.recordar_usario a:hover {
    text-decoration: underline;
}

.login .btn_login {
    width: 100%;
    height: 60px;
    background: #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.login .link_registro {
    font-size: 14.5px;
    text-align: center;
    margin-top: 25px;
}

.link_registro p a {
    color: #4B2E2B;
    text-decoration: none;
    font-weight: 600;
}

.link_registro p a:hover {
    text-decoration: underline;
}


/*Registro*/
.Cont_registro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background: url('img_beneficios/fondologin.png');
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-position: center;
}

.registrate {
    font-family: 'Bebas Neue', sans-serif;
}

.registro {
    width: 600px;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #4B2E2B;
    border-radius: 10px;
    padding: 80px 60px;
}

.registro h1 {
    font-size: 36px;
    text-align: center;
}

.registro .caja_registro {
    width: 100%;
    height: 30px;
    background: #ffffff;
    margin: 30px 0px;
}

.caja_registro input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    color: #000;
    padding: 20px 45px 20px 20px;
}

.registro .btn_registro {
    width: 100%;
    height: 60px;
    background: #4B2E2B;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.mante_sesion label input {
    accent-color: #4B2E2B;
    margin: 10px;
}

.mante_sesion a {
    color: #4B2E2B;
}

.mante_sesion a:hover {
    text-decoration: underline;
}


/* PAGINA PASAPORTE*/
.flechaspasaporte {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* Coloca las flechas a los lados */
    z-index: 10;
    pointer-events: none;
    /* Evita que interfieran con otros elementos */
}

.flechaspasaporte i {
    text-decoration: none;
    font-size: 2.5rem;
    /* Tamaño de las flechas */
    color: #4B2E2B;
    /* Ajusta el color */
    transition: color 0.3s;
    pointer-events: auto;
    /* Habilita la interacción con los enlaces */
}

.flechaspasaporte i:hover {
    color: #b87333;
    /* Cambia de color al pasar el mouse */
}




.fondosellos {
    background-image: url('Imagenes/sellos.jpg');
}


.contenedor-scroll {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    /* Oculta los elementos que están fuera del contenedor */
}

#contenedorgeneral {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Oculta los elementos que están fuera del contenedor */
    min-width: 100%;
    /* Evita que se salga */
    width: max-content;
    height: 700px;
    margin-top: 100px;
    border-radius: 40px;
    padding: 20px;
    gap: 20px;
    /* Agrega espacio entre los elementos */
    transition: transform 0.5s ease-in-out;

}

.logocafe {
    width: 130px;
    text-align: center;
    min-height: 125PX;
    margin-top: auto;
    margin-bottom: auto;
}

.logocafe img {
    width: 100%;
    height: auto;
}

.carrusel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Centra los elementos internos */
    flex-direction: column;
    /* Asegura que los elementos estén en columna */
    width: 400px;
    height: 600px;
    background-color: #4B2E2B;
    border-radius: 40px;


}

.paginapasaporte {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ocupar todo el ancho del contenedor */
}


.paginascarrusel {
    position: relative;
    /* Para que los sellos se posicionen sobre la imagen */
    width: 250px;
    height: 390px;
    border-radius: 20px;
    overflow: hidden;
}

.paginascarrusel img {
    width: 100%;
    height: 100%;
}



.textopasaporte {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(230, 213, 184, 0.8);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 36px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;

}














/* Ajuste del contenedor para ingresar el codigo código */
.contenedor-codigo {
    display: flex;
    /* Activa flexbox */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Alinea verticalmente */
    margin-top: 6px;
    gap: 10px;
    /* Espaciado entre elementos */
}

.contenedor-codigo input {
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f5e1c8;
    /* Color beige */
    border: 2px solid #d2a679;
    /* Opcional: borde para mejor visibilidad */
    color: #4B2E2B;
    /* Color del texto */
}

.contenedor-codigo button {
    background: none;
    /* Elimina el fondo */
    border: none;
    /* Elimina el borde */
    font-size: 13px;
    cursor: pointer;
    padding: 0;
    /* Elimina el relleno extra */
}

.contenedor-codigo button i {
    color: #E6D5B8;
    /* Cambia el color del icono */
    font-size: 30px;
    /* Ajusta el tamaño */
}

.contenedor-codigo button:hover i {
    color: #705e43;
    /* Cambia el color del icono al pasar el cursor */
}

.fondo-compass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px !important;
    /* Fuerza el tamaño */
    height: auto !important;
    /* Mantiene la proporción */
    opacity: 0.5;
    /* Ajusta la transparencia (0 = invisible, 1 = opaco) */
    z-index: 9;
}

.sello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 190px !important;
    /* Fuerza el tamaño */
    height: auto !important;
    /* Mantiene la proporción */
    z-index: 10;
}


/* Mantiene la proporción */
.logoscafes {
    width: 90px !important;
    height: auto !important;
}



.estrellas-container,
.contenedor-estrellas {
    display: none;
    gap: 5px;
    margin-top: 10px;
    justify-content: center;
}

.estrella {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.estrella.seleccionada {
    color: gold;
}

/* CIERRE PAGINA PASAPORTE*/


/* PAGINA CÓMO FUNCIONA*/

.contenedor-como-funciona {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
}

.titulocomofunciona {
    color: #4B2E2B;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 80px;
    text-align: right;
    margin-right: 5vw;

}


.titulospequeños {

    color: #4B2E2B;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    margin-left: 45vw;
}


.parrafoscomofunciona {

    font-family: 'Poppins', sans-serif;
    color: #4B2E2B;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
    margin-left: 45vw;
}

.parrafoscomofunciona::before {
    content: "• ";
    /* Este es el punto (puede ser también "●", "-", etc.) */
    font-size: 30px;
    color: #4B2E2B;
    /* Color del punto */
    font-weight: bold;
    /* Si querés que se vea más fuerte */
}



.imagencomofunciona {
    float: left;
    margin-left: 4.2vw;
    width: 31.25vw;
    height: 74vh;
    margin-top: 0.1vh;
}

/* CIERRE PAGINA CÓMO FUNCIONA*/



/* 🔹 Media Query para evitar desorden en móviles */
@media screen and (max-width: 768px) {

    header {
        padding: 10px;
        /* Reduce padding en pantallas pequeñas */
    }

    nav {
        gap: 15px;
        /* Reduce el espacio entre elementos */
    }

    nav ul {
        display: block;
    }

    #hamburguesa {
        display: block;
    }

    .menu.is_active {
        display: flex;
    }

    .menu {
        background-color: #331E1C;
        bottom: 0;
        height: 20vh;
        right: 0;
        overflow-y: scroll;
        position: fixed;
        top: 12.5vh;
        display: none;
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 50%;
        z-index: 1001;
    }

    nav ul li {
        width: 100%;
        margin-top: 5px;
    }

    .logo img {
        height: 50px;
        /* Reduce tamaño del logo */
    }

    .usuario i {
        font-size: 24px;
        /* Reduce tamaño del ícono */
    }




    .carrusel-item {
        width: 80vw;
        /* View width */
        margin: 40px;
    }

    .circulo {
        width: 60px;
        height: 60px;
    }

    .nombrescafeterias {
        font-size: 10px;
    }


    #txt_tituloc {
        font-size: 15px;
        margin-left: 20px;
    }

    .textopasaporte {
        font-size: 20px;
        width: 80%;
        padding: 10px;
    }

    .contenido-superpuesto h2,
    .contenido-superpuesto-2 h2,
    .contenido-superpuesto-3 h2 {
        font-size: 4vw;
        text-align: center;
    }

    .flechascarrusel i {
        font-size: 1.5rem;
    }

    .contenedor-como-funciona {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .imagencomofunciona {
        width: 90vw;
        max-width: 100%;
    }

    .titulocomofunciona {
        font-size: 28px;
        margin: 0 auto;

    }

    .titulospequeños {
        font-size: 20px;
        margin: 0 auto;
    }

    .parrafoscomofunciona {
        font-size: 16px;
        text-align: justify;
        margin: 0 auto;
    }



}

/*Pestaña deslizable del mapa*/
.icono-tab {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    flex: 0 0 auto;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Reutilizamos la capa oscura */
.icono-tab .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 50%;
    z-index: 2;
}

/* Reutilizamos el texto */
.icono-tab .texto-cafeteria {
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 3px;
    max-width: 90%;
    word-wrap: break-word;
}

.cafeteria-tab {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;
    background: #E6D5B8;
    background: rgba(230, 213, 184, 0.75);
    transition: transform 0.3s ease;
    transform: translateY(80%);
    /* Oculta al inicio */
    z-index: 500;
    /* Encima del mapa */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafeteria-tab.open {
    transform: translateY(0);
}

.toggle-button {
    width: fit-content;
    background: #E6D5B8;
    border: none;
    border-radius: 25px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.cafeteria-list {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 15px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* HTML DEL MAPA*/

/*TITULO*/
.titulo-mapa {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.mapatitulo {
    color: #4B2E2B;
    font-family: 'Bebas Neue', sans-serif;
}

#map-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#map {
    position: relative;
    width: 80%;
    height: 75vh;
    border-radius: 10px;
    margin: 20px auto;
    z-index: 1;
}

/* Contenedor */
.icono-cafeteria {
    position: absolute;
}

.icono-cafeteria .marcador {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    /*Animacion*/
    z-index: 10;
    /* Posicion en Z */
}

/* Capa oscura encima de la imagen OVERLAY */
.icono-cafeteria .marcador .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    /* 65% de opacidad */
    border-radius: 50%;
    z-index: 3;

}

.icono-cafeteria .marcador img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.marcador img {
    width: 50px;
    height: 50px;
    aspect-ratio: 1/1;
    /* Mantiene la imagen cuadrada */
    border-radius: 50%;
    /* Hace que sea un circulo */
    object-fit: cover;
    /* Ajusta la imagen para que no se deforme */

}

/* Texto encima de la imagen */
.texto-cafeteria {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Centrado el texto */
    color: white;
    font-size: 6px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: bold;
    z-index: 4;
    /* Z=4 encima de la capa oscura */
    max-width: 80%;
    /* Ajusta el texto al círculo */
    word-wrap: break-word;
    /* Hace que el texto salte de línea */
    white-space: normal;
    /* Evita que el texto se quede en una sola línea */
    display: flex;

    justify-content: center;
    flex-direction: column;

    transition: font-size 0.3s ease-in-out;
    /* Efecto de agrandado del texto */
}

/* Efecto al pasar el mouse (hover) */
.icono-cafeteria .marcador:hover {
    transform: scale(1.3);
    /* Hace que el marcador crezca un 30% */
    z-index: 10000;
}

.icono-cafeteria .marcador:hover img {
    transform: scale(1.1);
    /* se agranda la imagen */
}

.icono-cafeteria .marcador:hover .texto-cafeteria {
    font-size: 10.3px;
    /* Aumenta el tamaño del texto para que sea más visible */
    max-width: 90%;
    /* que el texto siga dentro del circulo */
    transition: font-size 0.3s ease-in-out;
}


/*CAFETERIAS INFO*/

.infocafeteriastitulo {
    color: #4B2E2B;
    font-family: 'Bebas Neue', sans-serif;
}

.cafeterias {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
}

.cafeteria-card {
    width: 40%;
    background-color: #f9ecd9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.cafeteria-header {
    background-color: #4d2c24;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.cafeteria-content {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.cafeteria-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: clamp(0.95rem, 1.2vw, 1.1rem);
    color: #333;
    gap: 0.14rem;
    padding-right: 0.5rem;
}

.descripcion-cafeteria {
    font-size: clamp(0.95rem, 1.2vw, 1.15rem);
    max-width: 90%;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.cafeteria-info p {
    margin-bottom: 0.6rem;
}

.cafeteria-image {
    flex: 1;
    max-width: 50%;
    min-width: 200px;
    aspect-ratio: 5 / 3;
}

.cafeteria-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 900px) {

    .cafeterias {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* Centra cada carta en la columna */
    }

    .descripcion-cafeteria {
        font-size: clamp(1.2rem, 1.8vw, 2.15rem);
    }

    .cafeteria-info {
        font-size: clamp(1.2rem, 1.8vw, 2.10rem);
    }

    .cafeteria-card {
        width: 90%;
        margin-bottom: 1rem;
        /* Espacio entre cartas */
    }
}


/*CIERRA CAFETERIAS INFO*/

/*Terminos*/
#txt_tituloTerminosc {
    font-family: 'Inria Serif', serif;
    font-size: 4vw;
    /* Tamaño de fuente relativo al ancho de la pantalla */
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 2vw;
}

#TerminosTXT {
    margin: auto;
    padding: 0 10vw;
    max-width: 80%;
    /* Ancho maximo */
    line-height: 1.6;
    font-family: 'Inria Serif', serif;
    font-size: 2vw;
    /* Tamaño de fuente relativo al ancho de la pantalla */
    text-align: initial;
}

#TerminosTXT br {
    content: "";
    display: block;
    margin-bottom: 1.5em;
}

/*CIERRA Terminos*/

/*FOOTER*/
.footer {
    display: grid;
    grid-template-columns: 1.3fr 2fr 1fr;
    align-items: center;
    background-color: #4B2E2B;
    color: #E6D5B8;
    padding: 30px 40px;
    gap: 20px;
}

.footer-logo img {
    height: 200px;
    /* Aumentado el tamaño del logo */
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: initial;
    gap: 10px;
    /* Espacio entre el boton y el texto de terminos */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.footer-card {
    background-color: #E6D5B8;
    color: #4B2E2B;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: initial;
}

.footer-btn {
    font-weight: 500;
    text-decoration: none;
    color: #4B2E2B;
    display: block;
}

.footer-btn:hover {
    color: #7a4e45;
}

.footer-terminos a {
    color: #E6D5B8;
    font-size: 20px;
    margin-left: auto;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.footer-terminos a:hover {
    text-decoration: underline;
}

.footer-redes {
    text-align: left;
    font-size: 15px;
    justify-self: center;
}

.footer-titulo {
    font-weight: bold;
    margin-bottom: 30px;
    color: #E6D5B8;
}

.footer-redes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-redes li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-redes i {
    font-size: 20px;
    color: #E6D5B8;
}
/*Perfil*/

.perfil-contenedor {
  font-family: 'Inria Serif', serif;
  padding: 2rem;
  color: #4d3b32;
}

.pasaporte {
  max-width: 1000px;
  margin: 4rem auto;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.columna {
  flex: 1;
}

.columna-perfil {
  text-align: center;
}

.carnet {
  border: 1px solid #4d3b32;
  height: 200px;
  width: 160px;
  margin: 0 auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #fff;
}

.carnet img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

#inputFoto {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.columna-derecha {
  margin-top: 1rem; 
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  letter-spacing: 1px;
}

.campo {
  margin-bottom: 1rem;
}

.campo label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  color: #4d3b32;
}

.linea {
  border-bottom: 1px solid #4d3b32;
  height: 1.2rem;
}

.texto-final {
  text-align: center;
  font-size: 0.85rem;
  line-height: 2;
  letter-spacing: 2px;
}

.resaltado {
  font-weight: bold;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
        align-items: center;
    }

    .footer-card {
        background-color: #E6D5B8;
        color: #4B2E2B;
        text-align: center;
    }

    .footer-logo {
        text-align: center;
    }

    .footer-logo img {
        display: block;
        margin: 0 auto;
    }

    .footer-redes {
        text-align: center;
    }
}


/*CIERRA FOOTER*/

/*COOKIES*/



.cookie-banner p {
    margin: 0;
    width: 100%;
    text-align: initial;
    font-size: 20px;
}

.cookie-banner .link {
    color: #A88C5C;
    font-weight: bold;
}

.cookie-buttons {
    display: flex;
    gap: 15px;
}

.cookie-buttons button {
    background-color: #e6d6bd;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.cookie-buttons button:hover {
    background-color: #d4c2a4;
}


.txt_tituloCookies {
     font-family: "Bebas Neue", sans-serif;
     color: #4B2E2B;
    font-size: 70px;
    text-align: center;
    margin: 40px 0 20px;

}

.CookiesTXT {
    font-family: "Poppins", sans-serif;
    color: #4B2E2B;
    font-size: 20px;
    margin: 0 auto;
    padding: 0 30px 50px;
    max-width: 900px;
    text-align: initial;
}

.CookiesTXT ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

.CookiesTXT h1 {
    font-family: "Bebas Neue", sans-serif;
    color: #4B2E2B;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.CookiesTXT li {
    list-style-type: disc;
    margin-bottom: 5px;
}

/*CIERRA COOKIES*/